*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  overflow-x:hidden;
  font-family: Arial, sans-serif;
}
header {
  background: white;
  padding: 20px 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
  gap: 12px;
  font-size: 20px;
}

.logo-box {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(135deg, #2563eb, #9333ea);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.nav-links a:hover{
    color: blue;
}
.nav-links .active {
  color:blue;
}
.main {
  height: 100vh;
  background: linear-gradient(90deg, #2563eb, #a100ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 90px;
}

.main-text {
  color: white;
  width: 600px;
}

.main-text h1 {
  margin: 30px;
  font-size: 60px;
}

.main-text p {
  color: white;
  margin: 30px;
  font-size: 18px;
}
.buttons {
  display: flex;
   gap: 20px;
}
.btn {
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn.first {
  background: white;
  color: blue;
}

.first:hover {
  background: white;
}

.second {
  border: 2px solid white;
  color: white;
}

.second:hover {
  background: white;
  color: blue;
}

.main-image img {
  width: 700px;
  border-radius: 20px;
 height: 700px;
}
.stats{
    width: 100%;
    background: rgba(240, 238, 238, 0.859);
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid #8314d7;
}
.stat-box{
    text-align: center;
}

.stat-box h1{
    font-size: 45px;
    color: rgb(54, 54, 220);
    font-weight: bold;
    margin: 15px;
}
.stat-box p{
    font-size: 22px;
    color:gray;
}
.services{
    width: 100%;
    padding: 40px 90px;
}

.services-title{
    text-align: center;
    margin: 80px;
}
.services-title h1{
    margin-bottom: 20px;
    color: black;
}

.services-title p{
   font-size: 22px;
    color: grey;
    margin: 15px;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.service-card{
    background: white;
    border: 1px solid rgba(48, 46, 46, 0.156);
    border-radius: 16px;
    padding: 30px;
    transition: 0.3s;
    height: 250px;
}

.service-card:hover{
    box-shadow: 0 10px 30px #2c2c2c;
}
.icon{
    width:80px;
    height:80px;
    background: white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.icon i{
    font-size: 30px;
    color: rgb(54, 54, 220);
}

.service-card h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

.service-card p{
    font-size: 22px;
    color: gray;
}

.btn-box{
    text-align: center;
    margin: 70px;
}

.service-btn{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    padding: 20px 38px;
    border-radius: 14px;
    font-size: 24px;
    transition: 0.3s;
}

.service-btn:hover{
    background:rgb(54, 54, 220);
}
.choose{
  width:100%;
  margin: 80px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
  background-color: rgba(245, 240, 240, 0.766);
}

.choose-image img{
  width:730px;
  border-radius:20px;
}

.choose-content h1{
  font-size:40px;
  margin-bottom:20px;
  margin-top: 30px;
  font-weight:bold;
}

.item{
  display:flex;
  gap:20px;
  margin:35px;
}

.item span{
  color:#00c853;
  font-size:25px;
  font-weight:bold;
}

.item h3{
  font-size:25px;
  margin: 12px;
}

.item p{
  font-size:18px;
  color:gray;
  line-height:1.5;
}
.rey{
  width:100%;
  margin:100px auto;
}
.title{
  text-align:center;
  margin: 30px;
}
.title h1{
  font-size:40px;
  margin-bottom:15px;
}
.title p{
  font-size:28px;
  color: gray;
}
.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap: wrap;
}
.card{
  background:white;
  height: 350px;
  width:300px;
  padding:40px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.stars{
  color:#facc15;
  font-size:35px;
  margin-bottom:25px;
}
.text{
  font-size:15px;
  color:rgb(74, 74, 74);
  line-height:1.8;
  margin-bottom:35px;
  font-style:italic;
}
.card h3{
  font-size:23px;
  margin-bottom:10px;
}
.card span{
  font-size:15px;
  color:gray;
}
.contact-section {
    background-color: blue; 
    padding: 60px 10px;
    text-align: center;
    color: white;
}
.contact-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -0.3px;
}
.contact-section p {
    font-size: 15px;
    max-width: 600px;
    margin: 0 auto 50px auto;
    opacity: 0.9;
}
.contact-section button {
    background-color: white;
    color: blue;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    box-shadow: rgb(36, 35, 35);
}
.contact-section button:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: rgb(36, 35, 35);
}
.footer {
    background-color: black; 
    color: white;
    padding: 60px 0 20px 0;
}
.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 20px 40px 20px;
    border-bottom: 1px solid gray;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}
.logo-icon {
    background-color: #7c3aed; 
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}
.logo h2 {
    font-size: 24px;
    margin: 0;
}
.footer-box p {
    color: grey;
    line-height: 1.6;
    font-size: 15px;
}
.footer-box h3 {
    font-size: 18px;
    margin-bottom: 25px;
    position: relative;
}

.footer-box ul {
    list-style: none;
}
.footer-box ul li {
    margin-bottom: 12px;
}
.footer-box ul li a {
    color: grey;
    text-decoration: none;
    transition: 0.3s;
}
.footer-box ul li a:hover {
    color: white;
    padding-left: 5px;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.social-icons a {
    color: grey;
    font-size: 18px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: white;
    transform: translateY(-3px);
}
.footer-box i {
    margin-right: 10px;
    color: grey;
    width: 20px;
}
.copyright {
    text-align: center;
    padding-top: 30px;
    color: grey;
    font-size: 14px;
}
